//Cores do projeto
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary-red: #C12D18;
$color-primary-yeallow: #E9B425;
$color-primary-orange: #E29933;
$color-secondary: #222222;
$color-background-home: #E0E0E0;

//Gradientes do projeto.
$color-gradient-orange: linear-gradient(180deg, #E29933 0%, #C13216 100%);
$color-gradient-black: linear-gradient(180deg, #222222 0%, #000000 100%);
$color-gradient-yellow: linear-gradient(180deg, #E9B425 0%, #E29933 100%);
$color-gradient-gray: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
$color-gradient-red:  linear-gradient(90deg, #FF2D04 0%, #C13216 100%);

//Fonte do projeto e sua configuração.
$font-principal: 'Poppins', sans-serif;
$font-small: 12px;
$font-normal-size: 16px;
$font-big: 64px;
$font-huge: 144px;

//Font weights:
$font-principal-bold: 700;
$font-principal-not-bold: 400;
