@import "variables";

//Estilização do footer.
.footer-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: $color-gradient-home-background;

  .timer-refresh {
    .timer-numbers {
      font-size: $font-home-big;

    }
  }

  .footer-text,
  .timer-article,
  .timer-seconds,
  .timer-numbers {
    color: $color-white;

  }

  .footer-text,
  .timer-article,
  .timer-seconds,
  .continuarNavegando {
    font-weight: $font-principal-not-bold;
  }

  .timer-article,
  .timer-seconds {
    font-size: $font-small-home;

  }

  .footer-text,
  .button {
    font-size: $font-small;
  }

  .footer-line {
    padding-top: 5vh;
    color: $color-white;
    font-weight: $font-principal-not-bold;
    font-size: 5px;
    background-color: rgb(255, 255, 255);

  }

  .footer-text-and-timer {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;

    .footer-text-line {
      display: flex;
      align-items: center;
      width: 35vw;

      article {
        margin-left: 5vw;
        margin-right: 1vw;
        text-align: end;

      }

    }

    .timer-refresh {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 13vw;

      .timer-numbers-and-seconds {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      article {
        width: 5vw;
        line-height: 1.125rem;
        text-align: right;
      }
    }
  }


  .buttons {
    display: flex;
    width: 15vw;


    a {
      text-decoration: none;
      line-height: 0.9375rem;
      text-align: center;
      color: $color-primary-red;
      background-color: $color-white;
      padding: 0 1vw;
      padding-top: 3.5vh;

      &:hover {
        background-color: $color-text-and-background;
        color: $color-secondary;
        transition: .5s;
      }


    }

    button {
      font-weight: $font-principal-bold;
      color: $color-white;
      width: 10vw;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: $color-primary-red;
        color: $color-secondary;
        transition: .5s;
      }
    }
  }
}