@import "variables";
@import "mixins";
@import "noselect";
@import "errorLogin";

.main-container {
  display: flex;

  .main-title-text-container {
    margin-bottom: 18vh;

    .main-title {
      font-size: $font-big;
      line-height: 4.7rem;

      &-text {
        line-height: 1.26rem;
        width: 15vw;
      }

      

    }

  }


  .form-login-container {
    width: 50vw;
    height: 100vh;
    background: $color-gradient-gray;

    &-content {
      margin: 15vh 15vw;

      .form-login {
        height: 40vh;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        &-title {
          font-size: $font-normal-big;
          margin-bottom: 1.8vh;
        }

        .login-areas {

          justify-content: space-around;
          height: 18vh;
          display: flex;
          flex-direction: column;

          input {
            padding-left: 1vw;
            padding-right: 3.5vw;
            height: 3.5rem;
            border-radius: 2rem;
            outline-color: $color-primary-red;
            border: 1px solid $color-white;
            background: transparent;
            color: $color-text-and-background;

            &::placeholder {
              color: $color-text-and-background;
            }

            &:focus {
              background-color: $color-black;
            }
          }

          #form-login-email {
            position: relative;
          }

          .icon-user,
          .icon-password {
            transition: .5s;
            z-index: 2;

            &.onfocus {

              left: 17.8vw;
            }
          }

          .icon-user {
            left: 20.8vw;
            bottom: 5.1vh;
          }

          .icon-password {
            left: 21vw;
            bottom: 4vh;


          }


        }



        button {
          margin-top: 5vh;
          background: $color-gradient-red ;
          color: $color-white;
          font-weight: $font-principal-bold;
          line-height: 1.4263rem;
          width: 20vw;
          height: 3.5rem;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
          border: none;
          border-radius: 2rem;

          &:hover {
            color: $color-primary-red;
            background: $color-white;
            height: 3.9rem;
            transition: .5s;
          }


        }
      }
    }

  }

  .image-login-container {
    text-align: center;
    width: 50vw;
    height: 100vh;
    background-image: url(../../images/computerbackground.jpg); //Mudará para a versão mobile. Farei?
  }
}