@import "reset";
@import "variables";
@import "noselect";

//Estilização geral. Tela Login.
body {
  font-family: $font-principal;
  font-size: $font-normal-size;
  font-weight: $font-principal-not-bold;
  color: $color-text-and-background;
}