@import "variables";
@import "mixins";

//Estilização do erro nos campos do Login.
.error-message {
  display: flex;
  // margin-top: 1.5vh;
  margin-left: 2.5vw;
  height: 5vh;
  width: 15vw;
  text-align: center;
  line-height: 1.25rem;
  font-weight: $font-principal-bold;
  color: $color-primary-yeallow;

  //O texto será adicionado dinamicamente!

}

.error-active {
  border: 1px solid $color-primary-yeallow !important;
}